{% extends 'base.html.twig' %}

{% block title %}Ordreachat index{% endblock %}

{% block body %}
    <h1>Ordreachat index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>MontantMax</th>
                <th>AdresseDepot</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ordreachat in ordreachats %}
            <tr>
                <td>{{ ordreachat.id }}</td>
                <td>{{ ordreachat.montantMax }}</td>
                <td>{{ ordreachat.adresseDepot }}</td>
                <td>
                    <a href="{{ path('ordreachat_show', {'id': ordreachat.id}) }}">show</a>
                    <a href="{{ path('ordreachat_edit', {'id': ordreachat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ordreachat_new') }}">Create new</a>
{% endblock %}
